<div class="edit-container">
  <div class="action-container">
    <span>fragment actions: </span>
    <button class="fragment-btn" (click)="addFragment()">add</button>
    <button class="fragment-btn" (click)="updateFragment()">update</button>
    <button class="fragment-btn" (click)="removeFragment()">delete</button>
  </div>
  <div class="data-container">
    <div class="data-item-nav">Nav</div>
    <div class="data-item">Preview Data
      <div *ngFor="let v of previewData?.values; let i = index">
        <div class="channel-data">{{previewData.indexes[i]}}: {{v}}</div>
      </div>
    </div>
    <div *ngFor="let dd of data$ | async">
      <div class="data-item"> {{dd.mnemonic}}
        <div *ngFor="let v of dd.values; let i = index">
          <div class="channel-data">{{dd.indexes[i]}}: {{v}}</div>
        </div>
      </div>
    </div>
    <div class="data-item">
      <div *ngFor="let f of viewedFragments$ | async">
        <div>fragment: {{f.start}} -- {{f.stop}}</div>
      </div>
    </div>
  </div>
</div>