<div>Run Relogs Viewer</div>
<div *ngFor="let rr of (runRelogs$ | async)?.runs">
    <div class="run-relog-item">{{rr.name}}: {{rr.start}} - {{rr.stop}}</div>
</div>
<div *ngFor="let rr of (runRelogs$ | async)?.relogs">
    <div class="run-relog-item">{{rr.name}}: {{rr.start}} - {{rr.stop}}</div>
</div>
<div>-------------</div>
<div>
    Focused Run relogs: {{(focusedRunRelogs$ | async)?.totalRange?.start}} - {{(focusedRunRelogs$ | async)?.totalRange?.stop}}
    <div *ngFor="let rr of (focusedRunRelogs$ | async)?.runRelogs">
            <div class="run-relog-item">{{rr.name}}: {{rr.start}} - {{rr.stop}}</div>
        </div>
</div>